
     <div class="panel panel-primary">
	 <div class="panel-heading">Estadísticas</div>
		<div class="panel-body">
		
			<ul class="list-group">
				<li class="list-group-item"><span class="badge progress-bar-info"><%=numQuestions%></span>Nº de preguntas</li>
				<li class="list-group-item"><span class="badge progress-bar-info"><%=numComments%></span> Nº de comentarios totales</li>  
				<li class="list-group-item"><span class="badge progress-bar-info"><%=averageQuestions%></span>Media de comentarios por pregunta</li>  
				<li class="list-group-item"><span class="badge progress-bar-info"><%=numQuestionsnoComments%></span>Nº de preguntas sin comentarios</li>  
				<li class="list-group-item"><span class="badge progress-bar-info"><%=numQuestionsComments%></span>Nº de preguntas con comentarios</li>  
			</ul>
		
		
		 
		
		
		  
	 </div>


</div>



 	     
  

	    

	     